# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Flask
instance/
.webassets-cache

# Jupyter (if you experiment in notebooks)
.ipynb_checkpoints/

# Data files (important for ML projects)
data/*.csv
data/*.zip

# If you later save models or similarity matrices
model/*.pkl
model/*.joblib
model/*.npy

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE / Editor settings
.vscode/
.idea/
*.swp

